"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    css:
      convert_quotes: "single"
      indent_size: 2
      newline_between_rules: true
      selector_separator_newline: true
    general:
      _analyticsUserId: "10574cf7-2929-4447-ae22-c1dfd64a77fe"
      beautifyEntireFileOnSave: false
    html:
      indent_inner_html: true
    js:
      convert_quotes: "single"
      default_beautifier: "Pretty Diff"
      indent_char: " "
      indent_size: 2
    php:
      cs_fixer_path: "/usr/local/bin/php-cs-fixer"
      level: "symfony"
    sass:
      convert_quotes: "single"
      indent_char: " "
      indent_size: 2
      newline_between_rules: true
    scss:
      convert_quotes: "single"
      indent_char: " "
      indent_size: 2
      newline_between_rules: true
  "atom-material-ui":
    colors:
      abaseColor:
        red: 234
        green: 160
        blue: 11
        alpha: 1
      accentColor:
        red: 159
        green: 105
        blue: 24
        alpha: 1
      predefinedColor: "Orange"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  "atom-ternjs":
    useSnippets: true
  core:
    disabledPackages: [
      "markdown-preview"
      "minimap"
      "project-manager"
    ]
    ignoredNames: [
      ".DS_Store"
    ]
    themes: [
      "atom-material-ui"
      "oceanic-next"
    ]
  docblockr: {}
  editor:
    fontFamily: "Hack"
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "66e630aa-815b-847d-3f4c-1f1bd104f046"
  "file-icons": {}
  "flex-tool-bar": {}
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  jshint:
    validateOnlyOnSave: true
  linter:
    lintOnFly: false
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "merge-conflicts": {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    level: "symfony"
    phpExecutablePath: "/usr/local/bin/php"
  "php-debug": {}
  "php-fmt":
    executablePath: "/usr/local/bin/fmt.phar"
    phpExecutablePath: "/usr/local/bin/php"
    useSpaceIndentation: true
    visibilityOrder: true
  pigments:
    markerType: "dot"
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  tag: {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    autoIndent: true
"php-debug":
  PathMaps: [
    {
      local: "/Users/kimrejstrom/Development/bttn/target/my"
      remote: "/home/vagrant/Development/bttn/target/my"
    }
  ]
  ServerPort: 9000
